.main {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 600px;
    height: 80vh;
    overflow: auto;
    box-sizing: border-box;
}

.main__container_green {
    border: 1px solid #029202;
    border-radius: 20px;
}
